<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="En test-svit">
	<listeners>
		<listener class-name="testlisteners.TestNGListeners" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="smoke-tester">
		<classes>
			<class name="testclasses.TestExample1" />
			<class name="testclasses.TestExample2" />
		</classes>

	</test>
	<test name="integrationstester-tester">
		<classes>
			<class name="testclasses.TestExample1" />
			<class name="testclasses.TestExample2" />
		</classes>

	</test>
	<test name="GUI-tests">
		<packages>
			<package name="guiTests" />
		</packages>
	</test>
</suite>